<h2 class="center"><%= t('.sign_up') %></h2>
 <section class="container-login ">
     <div class=" card login-index">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>

                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>

                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <div class="waves-effect waves-light btn-large buttons-login orange darken-3-color">
            <%= f.submit t('.sign_up') %>
          </div>
        <% end %>
        <div class="center>
            <%= render "devise/shared/links" %>
        </div>
    </div>
</section>
