<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @stock.amount %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @stock.validity %>
</p>



<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
