<%= form_for(@producted) do |f| %>
  <% if @producted.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producted.errors.count, "error") %> prohibited this producted from being saved:</h2>

      <ul>
      <% @producted.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :validity %><br>
    <%= f.date_select :validity %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.number_field :category %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
