<p id="notice"><%= notice %></p>

<h1>Listing Producteds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Validity</th>
      <th>Category</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producteds.each do |producted| %>
      <tr>
        <td><%= producted.name %></td>
        <td><%= producted.price %></td>
        <td><%= producted.type %></td>
        <td><%= producted.amount %></td>
        <td><%= producted.validity %></td>
        <td><%= producted.category %></td>
      
        <td><%= link_to 'Show', producted %></td>
        <td><%= link_to 'Edit', edit_producted_path(producted) %></td>
        <td><%= link_to 'Destroy', producted, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producted', new_producted_path %>
