<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @producted.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @producted.price %>
</p>

<p>
  <strong>Type:</strong>
  <%= @producted.type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @producted.amount %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @producted.validity %>
</p>

<p>
  <strong>Category:</strong>
  <%= @producted.category %>
</p>



<%= link_to 'Edit', edit_producted_path(@producted) %> |
<%= link_to 'Back', producteds_path %>
