<h2 class="center"><%= t('.sign_in') %></h2>
<section class="container-login ">
    <div class=" card login-index">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true  %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? %>
        <div class="remember_me">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        </div>
  <% end %>

  <div class="waves-effect waves-light btn-large buttons-login orange darken-3-color">
    <%= f.submit t('.sign_in') %>
  </div>
<% end %>

<div class="center">
    <%= render "devise/shared/links" %>
</div>
</div>
</section>
