// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: color("rgba(127, 140, 141,1.0)","rgba(52, 73, 94,1.0)" ) !default;


// framework
.input-field label {
     color: #000 !important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000 !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000 !important;
     box-shadow: 0 1px 0 0 #000 !important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000 !important;
     box-shadow: 0 1px 0 0 #000 !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000 !important;
     box-shadow: 0 1px 0 0 #000 !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000 !important;
   }

//framework


.container-login {
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 35em !important;
}
.button-collapse{
    cursor: pointer;
}
.login-index{
    padding: 2em;
}
.login-index label{
    font-size: 120%;
}
.buttons-login {
    margin: 2em auto;
    display: block !important;
    width: 10em;
}
.remember_me{
    text-align: right;
}
.itens-menu {
     padding: 1em;
}
.delimiter-menu{
    border-bottom:   1px solid rgba(246, 237, 237, 0.44);
}


.navbar-fixed{
    position: fixed !important;
}
.side-bar-profile{
    background:rgba(0,0,0,.37) !important;
    z-index: 99;
}
.side-nav a { display: flex !important; }
.side-bar{
    overflow: visible;
}
.less{ display: none !important; }
.userView{
    padding: 32px 0 0 0 !important;
}
.user-information-sidebar{
    padding-top: 20px;
}
main{
    margin-left:320px;
    padding-top: 50px;
    margin-right: 200px;

}
.menu-principal{
    top: 4.24rem !important;
    margin-top: 0 !important;
}
@media screen and (max-width:991px) {
    main{
        margin-left: 0;
    }
    .menu-principal{
        top: inherit !important;
    }
}

.message-card{
    width: 19rem;
    margin-top: -145px;
    z-index: 999;
    display: none;
    float: right;
    height: 100% !important;
    overflow-y: scroll;

}
.message-card-content{
    padding: 1rem;
    top: 4.24rem !important;
    margin-top: 0 !important;
}
.message-card-search{
    position: fixed;
}
.message-card-content-talks{
    overflow-y: visible;
}

.dropdown-menu-message,
.dropdown-menu-notifications{
  background-color: #FFFFFF;
  top: 5px !important;
  border-radius: 5px;
  min-width: 300px !important; /* Changed this to accomodate content width */
  max-height: auto !important;
  margin-left: -1px !important; /* Add this to keep dropdown in line with edge of navbar */
  overflow-y: visible !important; /* Changed this from overflow-y:auto; to overflow:hidden; */
  white-space: nowrap !important;
  z-index: 1 !important;
  will-change: width, height !important;
}
.name-message{
    font-size: 1rem;
    display: block;
}

.message-card-content-talks > .collection{
    border: none;
}
.message-card-content-talks > .collection > .collection-item{
    border: none;
}
.content{

}


// loading
.message-loading{
  display: none;
}
.loading-table > .message-loading{
  display: block;
}
.loading-table table{
  display: none;
}
