<p><%= notice %></p>

<h1 class="center">Vendas</h1>






  <%= react_component('SalesAll')%>





  <a data-target="modal" class="btn-floating btn-large  modal-trigger waves-light red right "><i class="material-icons">add</i></a>





<!--<%= link_to 'New Sale', new_sale_path, :class => "btn-floating btn-large waves-effect waves-light right red"  %> -->
