<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<nav class=" navbar-fixed grey">
   <div class="nav-wrapper grey">
        <a  class="brand-logo center">
            <div style="margin:14px;">
                <%= image_tag("telja.png") %>
            </div>
        </a>
        <a data-activates="mobile-menu" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right">

            <li class="icon-menu hide-on-med-and-down">
                <a data-activates='message-menu'  class="dropdown-button">
                    <i class="material-icons">email<span class="badge">1</span></i>
                </a>
                <div id='message-menu' class='dropdown-content dropdown-menu-message'>
                     <h5 class="center black-text">Message</h5>
                     <ul class="collection">

                         <li class="collection-item avatar">
                           <i class="material-icons circle">folder</i>
                           <div class="message-menu">
                               <span class="black-text">Title</span>
                               <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                             </div>

                         </li>
                         <li class="collection-item avatar">
                           <i class="material-icons circle green">insert_chart</i>
                           <div class="message-menu">
                               <span class="black-text">Title</span>
                               <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                             </div>

                         </li>
                         <li class="collection-item avatar">
                               <i class="material-icons circle red">play_arrow</i>
                               <div class="message-menu">
                                   <span class="black-text">Title</span>
                                   <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                                 </div>

                         </li>
                     </ul>

                </div>
                <!-- dropdown  -->
            </li>
            <li class="icon-menu hide-on-med-and-down">
               <a data-activates="notifications-menu" class="dropdown-button">
                   <i class="material-icons" >notifications</i>
               </a>

               <div id='notifications-menu' class='dropdown-content dropdown-menu-notifications'>
                    <h5 class="center black-text">Notifications</h5>
                    <ul class="collection">

                        <li class="collection-item avatar">
                          <i class="material-icons circle">folder</i>
                          <div class="message-menu">
                              <span class="black-text">Title</span>
                              <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                            </div>

                        </li>
                        <li class="collection-item avatar">
                          <i class="material-icons circle green">insert_chart</i>
                          <div class="message-menu">
                              <span class="black-text">Title</span>
                              <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                            </div>

                        </li>
                        <li class="collection-item avatar">
                              <i class="material-icons circle red">play_arrow</i>
                              <div class="message-menu">
                                  <span class="black-text">Title</span>
                                  <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                                </div>

                        </li>
                    </ul>

               </div>
               <!-- dropdown  -->
           </li>

           <li>
               <a id="search-on-click">
                   <i class="material-icons right">message</i>
               </a>
           </li>
       </ul>

   </div>
 </nav>
 <ul class="side-nav fixed  menu-principal" id="mobile-menu">
     <li>
         <div class="userView">
             <div class="background">
                <%= image_tag("background-1.jpg") %>
             </div>
             <a>
                 <img class="circle" src="http://materializecss.com/images/yuna.jpg">
             </a>
             <div class="user-information-sidebar">
                 <a class="white-text side-bar-profile">
                <ul class="collapsible collapsible-accordion">
                    <li>
                    <a class="collapsible-header white-text name  ">
                        Nome
                        <i class="material-icons white-text more">expand_more</i>
                        <i class="material-icons white-text less" >expand_less</i>
                    </a>
                    <div class="collapsible-body">
                      <ul>
                        <li>
                            <a class="waves-effect waves-gray">
                                <i class="material-icons">account_box</i>
                                Ver Conta
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-gray">
                                <i class="material-icons">settings</i>
                                Configuração</a>
                        </li>
                        <li>
                            <a class="waves-effect waves-gray">
                                <i class="material-icons">access_time</i>
                                Logout
                            </a>
                        </li>

                      </ul>
                    </div>
                  </li>
                </ul>
                </a>
            </div>
         </div>
     </li>
     <li class="bold">
        <a class="waves-effect waves-gray">
            <i class="material-icons">home</i>
            Home
        </a>
    </li>
    <li class="divider"></li>
    <!-- Estoque -->
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect ">
                <i class="material-icons">local_shipping</i>
                Estoque
                <i class="material-icons left more">expand_more</i>
                <i class="material-icons left less" >expand_less</i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                    <%= link_to "Todos", {controller: "stocks"}, :class => "waves-effect waves-gray" %>
                </li>
                <li>
                    <%= link_to "Analise",
                        :controller => "stocks",
                        :action => "analysis"
                     %>
                </li>
                <li>

                    <a href="" class="waves-effect waves-gray">Busca</a>
                </li>

              </ul>
            </div>
          </li>
        </ul>
      </li>
    <li class="divider"></li>
    <!-- Vendas -->
    <li class="no-padding">
        <ul class="collapsible collapsible-expandable">
          <li>
            <a class="collapsible-header">
                <i class="material-icons left">shopping_cart</i>
                Vendas
                <i class="material-icons left more">expand_more</i>
                <i class="material-icons left less" >expand_less</i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                    <%= link_to "Todos", {controller: "sales"}, :class => "waves-effect waves-gray" %>
                </li>
                <li>
                    <%= link_to "Analise",
                            :controller => "sales",
                            :action => "analysis"
                    %>
                </li>
                <li>
                    <a  class="waves-effect waves-gray">
                        Busca
                    </a>
                </li>

              </ul>
            </div>
          </li>
        </ul>
      </li>

    <li class="divider"></li>
    <!-- Usuários -->
    <li class="no-padding">
        <ul class="collapsible collapsible-expandable">
          <li>
            <a class="collapsible-header">
                <i class="material-icons left">supervisor_account</i>
                Usuários
                <i class="material-icons right more">expand_more</i>
                <i class="material-icons right less" >expand_less</i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                    <a  class="">
                        Todos
                    </a>
                </li>
                <li>

                    <a class="">
                        Analise
                    </a>
                </li>
                <li>
                    <a href="" class="waves-effect waves-gray">
                        Busca
                    </a>
                </li>

              </ul>
            </div>
          </li>
        </ul>
      </li>

    <li class="divider"></li>


 </ul>


<main>


<section class="content ">
    <% if notice %>
        <p><%= notice %></p>
    <% end %>
    <% if alert %>
        <%  alert %>
    <% end %>

 <%= yield %>
</section> <!-- content -->





</main>
<section class="message-card ">
    <div class="message-card-content card">
        <ul>
            <li>
                <form >
                    <div class="input-field message-card-search ">
                        <i class="material-icons prefix">search</i>
                        <input type="text" name="" placeholder="Busque contatos">
                    </div>
                </form>
            </li>
            <div class="message-card-content-talks">

                <ul class="collection">

                    <li class="collection-item avatar">
                        <a id="test">
                          <i class="material-icons circle">folder</i>
                          <div class="message-menu">
                              <span class="black-text">Title</span>
                              <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                            </div>
                        </a>

                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle green">insert_chart</i>
                      <div class="message-menu">
                          <span class="black-text">Title</span>
                          <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                        </div>

                    </li>
                    <li class="collection-item avatar">
                          <i class="material-icons circle red">play_arrow</i>
                          <div class="message-menu">
                              <a href="">
                                  <span class="black-text">Title</span>
                                  <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                              </a>
                            </div>

                    </li>
                    <li class="collection-item avatar">
                          <i class="material-icons circle red">play_arrow</i>
                          <div class="message-menu">
                              <span class="black-text">Title</span>
                              <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                            </div>

                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle green">insert_chart</i>
                      <div class="message-menu">
                          <span class="black-text">Title</span>
                          <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                        </div>

                    </li>
                    <li class="collection-item avatar">
                          <i class="material-icons circle red">play_arrow</i>
                          <div class="message-menu">
                              <span class="black-text">Title</span>
                              <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                            </div>

                    </li>
                    <li class="collection-item avatar">
                          <i class="material-icons circle red">play_arrow</i>
                          <div class="message-menu">
                              <span class="black-text">Title</span>
                              <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                            </div>

                    </li>
                    <li class="collection-item avatar">
                          <i class="material-icons circle red">play_arrow</i>
                          <div class="message-menu">
                              <span class="black-text">Title</span>
                              <p class="grey-text">textxtxtxtxtxtxtxtxtxtxtx....</p>
                            </div>

                    </li>
                </ul>
            </div>

        </ul>
    </div>
</section>
</body>
</html>
